.global-identify-message-container{
    padding: 10px;
    background-color: var(--common-query-window-background);
    border-radius: var(--common-query-window-border-radius); 
}

.global-identify-message-icon{
    font-size: 3rem;
    vertical-align: -10px;
    margin-right: 5px;
    color:var(--common-query-window-header-text-color);
}

.global-identify-message-text{
    font-size: 1.5rem;
}

.global-identify-results-accordion-item{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.global-identify-results-accordion-item-header button.accordion-button.collapsed::after {
    background-image: var(--bs-accordion-btn-icon) !important;
}
.global-identify-results-accordion-item-header button.accordion-button :not(.collapsed){
    color:var(--common-query-window-header-text-color);
}

.global-identify-results-accordion-item-header span{
    font-size: 1.75rem;
    padding: 10px;
}

.global-identify-result-item-container{
    max-height: 300px;
    overflow-y: auto;
}

.global-identify-result-item-row{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex: 1 2;
}

.global-identify-result-item-row-label{
    flex-basis: 30%;
}

.global-identify-result-item-row-text{
    flex-basis: 70%;
    text-align: left;
}