@import url('https://fonts.googleapis.com/css?family=Mukta');

html,
body,
#app,
#app>div {
  font-size: 9px;
  overflow: hidden;
  font-family: ankara display, Ubuntu, Segoe UI, Arial, sans-serif;
  background-color: #333;
  user-select: none;
}

.app-container{
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-fluid {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
}

:root {
  --colors-red: rgb(139 0 0);
  --green: rgb(37 95 20);
}

.hoverableCardHeader:hover {
  background-color: #EEE;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: var(--gray);
  color: var(--black);
}

.App.dark {
  color: var(--gray);
  background-color: var(--black);
}

canvas::after {
  border: none !important;
  border-radius: 0 !important;
}


.full-screen-div {
  text-align: center;
  padding: 20px;
  /* font-weight: 600; */
  color: #444;
  text-shadow: none;
  border: none;
  -webkit-highlight: none;
  font-size: 1.75rem;
}


/*common-query-window -- start*/
:root{
  --common-query-window-background:rgba(255,255,255,1);
  --common-query-window-margin:8px;
  --common-query-window-border-radius:20px;
  --common-query-window-header-text-color:rgb(15, 86, 110);

  --primary-button-background-hover:rgb(13 143 188);
  --primary-button-background:#30598b;
  --primary-button-radius:8px;
}

.common-query-window{
  z-index: 1;
  position: absolute;
  min-width: 400px;
  max-width: 40vw;
  top: calc(var(--mainbar-height) + var(--common-query-window-margin));
  left: calc(var(--sidebar-width) + var(--common-query-window-margin));
  background-color: var(--common-query-window-background);
  border-radius: var(--common-query-window-border-radius);
  max-height: calc(100vh - 100px);
  box-shadow: 1px 1px 6px 1px #999;
}

.common-query-window-right{
  left: auto;
  right: calc(var(--toolbar-width) + 20px);
}

.common-query-window-header{
  padding: 10px;
}

.common-query-window-header > span{
  font-size: 1.75rem;
  margin-left: 5px;
  font-weight: 600;
  color:var(--common-query-window-header-text-color)
}

.common-query-window-header-icon{
  width: 40px;
  height: 42px;
  /*margin-left: calc(var(--common-query-window-margin) * -1);*/
  margin-left: -15px;
  /*margin-top: calc(var(--common-query-window-margin) * -1);*/
  margin-top: -18px;
  background: #f3f3f3;
  border-radius: 60px;
  padding-top: 4px;
}

.common-query-window-body{
  display: block;
  padding: 10px;
  overflow: auto;
  height: 100%;
}

.common-query-window-body-collapsed{
  display: none !important;
  height: 0 !important;
}
/*common-query-window -- end*/

/*form --start*/
:root{
  --form-button-background:rgb(41 79 139);
}


.form-label-white
{
  color:white;
}

/*checkbox*/
.form-checkbox{
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.form-checkbox span{
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 150px;
}

.form-checkbox svg {
  order: 2;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 2.5rem;
}

.form-checkbox:hover{
  color:var(--common-query-window-header-text-color);
}

.form-checkbox-vertical{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  text-align: center;
}
.form-checkbox-vertical svg{
  text-align: center;
  width: 100%;
}

.horizontal-layout{
  display: flex;
  flex-direction: row;
}

.vertical-layout{
  display: flex;
  flex-direction: column;
}

/*button*/
.form-button{
  background: var(--form-button-background);
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: var(--primary-button-radius);
  height: 40px;
  margin-top: 10px;
  float: right;
  font-size: 1.5rem;
  font-weight: 400;
}

.form-button:hover{
  background: var(--primary-button-background-hover);
}

.form-button-icon{
  vertical-align: -2px;
  margin-right: 2px;
}
/*form --end*/



/*results --start*/
.results-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: calc(100vh - 175px);
  overflow-y: auto;
  overflow-x: hidden;

}

.results-container-toolbar{
  display: flex;
  flex-direction: row;
  padding: 5px; 
  margin: 5px;
  
}
.results-container-count{
  font-size: 1.75rem;
  padding: 10px;
}

.results-container-back-button{
  font-size: 1.5rem;
  cursor: pointer;
  width: auto;
  margin: auto;
  margin-left: 0;
  padding: 10px;
  border:1px solid gray;
  border-radius: var(--primary-button-radius);
}

.results-container-back-button:hover{
  background-color: var(--primary-button-background-hover);
  color:white;
}

.results-container-back-button-icon{
  font-size: 2rem;
  vertical-align: -5px;
}



.result-item-info {
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  flex-grow: 1;
  width: auto;
  margin: auto;
  text-transform: uppercase;
}

.result-item-info svg{
  vertical-align:-2px;
}

.result-item-info-title {
  color: var(--common-query-window-header-text-color);
  font-weight: 600;
  font-size: 1.5rem;
 
}


/**/
.result-item-container{
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted rgb(169 169 169 / 75%);
}

.result-item-container:hover{
  background: var(--primary-button-background-hover);
  color:white;
  border-radius: var(--primary-button-radius);
}

.result-item-container:hover > .result-item-info > .result-item-info-title{
  color:white;
}


.result-item-info-date {
  color: var(--colors-red);
  font-size: 1.75rem;
}

.result-item-container:hover > .result-item-info > .result-item-info-date{
  color:white;
}

/*results --end*/




/*---------------------------------------------------------*/


.parcelDetailsPlanChangeList {
  max-height: 400px;
  overflow-y: auto;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 210px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content-sidebar {
  top: 0;
  left: var(--sidebar-width);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #e0e0e0;
  color: #444;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: white;
  /*background-color: #3e8e41;*/
}


.modal-title {
  font-size: 1.75em;
  color: #444;
}

.modal-content {

  background: #f5f5f5;
  box-shadow: 9px 3px 11px 3px #444;
  top: 40px;
  left: 40px;
}


/*context menu*/
.context-menu {
  width: 250px;
  background: white;
  box-shadow: 1px 1px 9px 1px #999;
  font-size: 1.25em;
}

.context-menu-item {
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.context-menu-itemTitle {
  margin-left: 5px;
}

.context-menu-item:hover {
  background-color: var(--gray);
}

.context-menu-description{
    padding: 10px;
    background-color: gray;
    color: white;
}

.context-menu-seperator {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  width: 100%;
}

.context-menu-planchangeresults {
  width: 400px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 86px;
  left: 250px;
  box-shadow: 9px 1px 9px 1px #999;
}

.subResults-container {
  background: #d8d8d8;
  border: 2px inset gray;
}



/*overview map*/
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.overviewMapDiv {
  position: absolute;
  bottom: 20px;
  left: 75px;
  width: 20em;
  height: 10em;
  border: 1px solid #8e8d8d;
  z-index: 1;
  overflow: hidden;
}

.overviewMap_extentDiv {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
}


/*Google street view*/
.GoogleStreetViewContainer {
  width: 100%;
  height: 250px;
}

/*Nöbetçi eczane*/
.Item {
  border-bottom: 1px solid #cdcdcd;
  padding: 20px;
  cursor: pointer;
}

.Item:hover {
  background-color: rgb(238 238 238);
}

.item-Title {
  font-size: 1.5rem;
  color: darkred;
}

.item-Address_NeighborhoodName {
  font-size: 1.45rem;
  font-weight: 600;
  color: #444;
}
.item-Address_StreetName {
  color: #444;
  font-size: 1.35rem;
}
.item-Type {
  margin-top: 20px;
  font-weight: 600;
  color: #2d5989;
  font-size: 1.25rem;
}

.item-SubType {
  margin-top: 20px;
  font-weight: 600;
  color: #2d5989;
  font-size: 1.15rem;
}


.item-Tools_item-Button {
  width: 3rem;
}

.item-Tools_item-Button:hover {
  border: 1px solid gray;
  border-radius: 5px;
}

.item-Image {
  width: 32px;
  filter: drop-shadow(2px 4px 6px #666);
}

.item-Date {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--green);
  padding: 2px;
}

.item-Address_NbhoodName {
  margin-top: 5px;
  border-radius: 5px;
  color: rgb(0 100 0);
  font-weight: bold;
}


.slidingImagesContainer {
  width: 100%;
  padding: 10px;
}

.slidingImagesContainer>img {
  height: 100%;
  border: 3px solid #EEE;
}

.ModalSection_Title {
  font-size: 1.35em;
  padding: 10px;
  background: #EEE;
  color: #444;
  border: 1px solid gray;
}

.ModalSection {
  margin: 2px;
  width: 100%;
}


.SectionHeader {
  margin: 5px;
  font-size: 1.25em;
  color: #007bff;
}

.Section {
  border: 1px solid #eee;
  padding: 10px;
  margin: 5px;
}



/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDD;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ZoningStatusDocument_ModalContainer .modal-dialog {

  width: 750px;
}





.appVersion{
    position: fixed;
    right: 0px;
    bottom: 50px;
    background-color: rgb(255 255 255 / 80%);
    color: #444;
    z-index: 999;
    font-size: 14px;
    padding: 8px;
    font-weight: 600;
}

.companyLogo {
  position: fixed;
  right: 0;
  bottom: 0;
}

.companyLogo a {
  cursor: pointer;
}

.companyLogo a img {
  width: 48px;
}

.companyLogo a img:hover {
  filter: grayscale(0);
}


#locateButtonContainer {
  background: transparent;
  color: white;
  font-weight: bold !important;
  height: 16px;
  width: 16px;
}

#locateButtonContainer:hover {
  cursor: pointer;
  color: wheat;
}




/*overrides*/
.btn:focus-visible{
  color: white !important;
  background-color: var(--primary-button-background-hover) !important;
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: none !important;
}


.radio-group{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}

.radio-group-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75rem;
  cursor: pointer;
}

.radio-group-item-icon{
  font-size: 3rem;
  color: #444;
}





/*pop up*/
.esri-popup__content{
    height: 100% !important;
}
.esri-ui{
  z-index: 2;
}
.popup-title{
  color: var(--primary-button-background) !important;
  font-size: 2.5rem;
}

.popup-header{
    color:var(--primary-button-background) !important;
    font-size: 2.5rem;
}


.popup-description{
    margin-top: 5px;
    padding: 0;
    max-height: 100%;
    overflow: auto;
    width: 100%;
    border-radius: 4px;
  }

  .attachments-images-container{
    text-align: center;
  }
  .attachments-image{
    width: 100%;
    max-height: 200px;
  }


  .popup-sections{
    display: flex;
    flex-direction:column;
  }

  .popup-section{
    flex: 1 1;
    padding: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

.popup-nbhood{
  font-weight: bold;
}
.popup-address{
  font-weight: 400;
}

/*attachment slider*/
  .slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    max-width: 300px;
    max-height: 300px;
    margin-right: 20px;
    border-radius: 10px;
    background: #ededed;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slides > div:target {
  /*   transform: scale(0.8); */
  }

  
  .slider-link {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: #a8a8a8;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 2px;
    position: relative;
  }
  .slider-link:active {
    top: 1px;
  }
  .slider-link:focus {
    background: #000;
  }
  
  /* Don't need button navigation */
  @supports (scroll-snap-type) {
    .slider-link {
      display: none;
    }
  }



