.context-menu-container{
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 3px 3px 8px 1px rgb(86 86 86);
    border: 1px solid gray;
    border-radius: 8px;
    width: 230px;
}

.context-menu-item{
    display: flex;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
}

.context-menu-item:hover{
    background-color: rgb(239, 239, 239);

}

.context-menu-item-icon{
    font-size: 3rem;
    flex: 1;
    margin-top: -4px;
    color: var(--primary-button-background) !important;
}

.context-menu-item-text{
    font-size: 1.5rem;
    flex: 4;
}
