.numbering-query-window{
    z-index: 3;
    position: absolute;
    top: var(--mainbar-height);
    left: var(--sidebar-width) ;
    width: 296px;
    background-color: var(--sidebar-background);
    padding: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.numbering-query-window-close-button{
    top: 5px;
    right: 5px;
    font-size: 3rem;
}


@media screen and (max-width:780px) {
    .numbering-query-window{
        width: calc(100vw - var(--sidebar-width)) !important;
    }
}
