@font-face {
    font-family: ankara display;
    src: url(/fonts/AnkaraDisplay-Medium.eot);
    src: url(/fonts/AnkaraDisplay-Medium.eot?#iefix) format('embedded-opentype'), url(/fonts/AnkaraDisplay-Medium.woff2) format('woff2'), url(/fonts/AnkaraDisplay-Medium.woff) format('woff'), url(/fonts/AnkaraDisplay-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ankara display;
    src: url(/fonts/AnkaraDisplay-Light.eot);
    src: url(/fonts/AnkaraDisplay-Light.eot?#iefix) format('embedded-opentype'), url(/fonts/AnkaraDisplay-Light.woff2) format('woff2'), url(/fonts/AnkaraDisplay-Light.woff) format('woff'), url(/fonts/AnkaraDisplay-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ankara display;
    src: url(/fonts/AnkaraDisplay-Bold.eot);
    src: url(/fonts/AnkaraDisplay-Bold.eot?#iefix) format('embedded-opentype'), url(/fonts/AnkaraDisplay-Bold.woff2) format('woff2'), url(/fonts/AnkaraDisplay-Bold.woff) format('woff'), url(/fonts/AnkaraDisplay-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ankara display;
    src: url(/fonts/AnkaraDisplay-Thin.eot);
    src: url(/fonts/AnkaraDisplay-Thin.eot?#iefix) format('embedded-opentype'), url(/fonts/AnkaraDisplay-Thin.woff2) format('woff2'), url(/fonts/AnkaraDisplay-Thin.woff) format('woff'), url(/fonts/AnkaraDisplay-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ankara display;
    src: url(/fonts/AnkaraDisplay-Regular.eot);
    src: url(/fonts/AnkaraDisplay-Regular.eot?#iefix) format('embedded-opentype'), url(/fonts/AnkaraDisplay-Regular.woff2) format('woff2'), url(/fonts/AnkaraDisplay-Regular.woff) format('woff'), url(/fonts/AnkaraDisplay-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: ankara display;
    src: url(/fonts/AnkaraDisplay-Regular.ttf);
    src: url(/fonts/AnkaraDisplay-Regular.ttf?#iefix) format('embedded-opentype'), url(/fonts/AnkaraDisplay-Regular.woff2) format('woff2'), url(/fonts/AnkaraDisplay-Regular.woff) format('woff'), url(/fonts/AnkaraDisplay-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

