.cbscompany-logo{
    position: absolute;
    width: 100px;
    right: 20px;
    bottom: 10px; 
  
}

.cbs-logo{
    font-family: 'ankara';
    position: absolute;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 28px;
    color: #23397d;
    right: 20px;
    bottom: 10px; 
}

.cbs-logo-colour{
    color: #C62E2E;
}