.loading-button{
  background: transparent;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 10px;
  border-radius: var(--primary-button-radius);
  height: 40px;
  margin-top: 10px;
  float: right;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.MiniLoading,
.MiniLoading:active,
.MiniLoading:focus,
.MiniLoading:enabled {
  height: 25px;
  padding: 6px;
  border: none;
  -webkit-highlight: none;
}
.FullScreenLoading_Logo {
  width: 32px;
  margin: 5px;
}

.FullScreenLoading {
  width: 100vw;
  height: 100vh;
  background: #2c2d30;
  color: gray;
  text-align: center;
  padding-top: 10%;
  font-size: 1.5em;
}



.NoResultsFound{
  padding: 10px;
  border: 1px solid #DDD;
  font-size: 1.5rem;
  border-radius: var(--primary-button-radius);
}


.fullscreenloading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.fullscreenloading-logo{
  height: 84px;
  width: auto;

  margin-top: 10px;
}

.fullscreenloading-spinner{
  width: auto;
  height: 16px;
  margin-top: 10px;
}

.fullscreenloading-spinner-text{
  font-size: 2rem;
  margin-top: 10px;
}

.fullscreenloading-app-title{
  font-size: 3rem;
  margin-top: 10px;
  color: white;
}







  /*spinner*/

  

  .spinner-loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .spinner-loading {
    width: 80px; /* Adjusted width */
    height: 80px; /* Adjusted height */
    position: relative;
    margin-bottom: 20px; /* Added margin */
  }
  
  .spinner-loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px; /* Adjusted width */
    height: 64px; /* Adjusted height */
    margin: 8px; /* Adjusted margin */
    border: 8px solid #3498db;
    border-radius: 50%;
    animation: spinner-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3498db transparent transparent transparent;
  }
  
  .spinner-loading div:nth-child(1) {
    animation-delay: -0.45s;
  }
  
  .spinner-loading div:nth-child(2) {
    animation-delay: -0.3s;
  }
  
  .spinner-loading div:nth-child(3) {
    animation-delay: -0.15s;
  }
  
  .spinner-loading-text{
    font-size: 2rem;
    margin-top: 10px;
    color:white;
  }
  @keyframes spinner-loading {
    0% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
  }
  
  
  
  
  .mini-spinner {
    width: 24px;
    height: 24px;
    border: 5px solid  var(--primary-button-background);
    border-bottom-color: #EFEFEF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
  
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 