html, body{
    background-color: #EEE !important;
}

.link404{

    float: left;
    margin-right: 10px;
    margin-top:20px;
}

.link404:hover{
    background-color: var(--themeBackground);
    color:white;
    text-decoration: none;
}

.btn404{
    border:1px solid gray;
    padding:20px;
    width:200px;
}