.vicinity-query-results-accordion-item.accordion-item {
    padding: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.vicinity-query-results-accordion-item-header > button{
    font-size: 1.75rem !important;
    padding-bottom: 5px;
    padding-top: 5px;
}

.vicinity-query-results-accordion-item-body{
    max-height: 600px;
    position: relative;
    overflow-y: scroll;
}

.vicinity-query-results-accordion-item-header > button::after {
    background-image: var(--bs-accordion-btn-active-icon) !important;
    
}