/*toolbar -- start*/
:root {
    --toolbar-icon-width: 44px;
    --toolbar-width: 48px;
}

.toolbarwidget {
    z-index: 99;
    position: absolute;
    margin: 0;
    right: 10px;
    top: calc(var(--mainbar-height) + 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    padding: 0;
    border-radius: 5px;
    max-height: 90%;
    width: var(--toolbar-width);
    
}

.toolbarwidget-button {
    width: var(--toolbar-icon-width);
    cursor: pointer;
    background-color: transparent !important;
    border: none !important;
}

.toolbarwidget-button-icon {
    width:var(--toolbar-icon-width);
    filter: contrast(1);
}

.toolbarwidget-button-icon:hover {
    border-radius: 60px;
    padding: 0;
    margin: 0;
}
.toolbarwidget-button-icon:hover{
    filter: contrast(2)
}

/*toolbar -- end*/