.disclaimer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
}

.disclaimer-logo {
    width: 24px;
}

.disclaimer-title {
    font-size: 2.5rem;
    margin-left: 5px;

}

.disclaimer-body {
    font-size: 1.75rem;
    text-align: justify;
}

.disclaimer-list {
    margin-left: 30px;
}



.disclaimer-modal>.modal-dialog {
    max-width: 800px;
}

@media (max-width:960px) {

    .disclaimer-modal>.modal-dialog {
        max-width: calc(100vw - 60px) !important;
    }
}